.six.columns.centered.like-container
  .centered.instagram
    = link_to like.secure_standard_res_image, target:"_blank" do
      = image_tag(like.secure_standard_res_image, class: "like_image", data: {'image-id' => like.id}, onerror: "handleBrokenInstagramImage(this);")
  .row
    .twelve.columns
      = like.caption if like.caption
  .row
    .posted_by_caption.six.columns.mobile-four
      Posted by:
      = like.username
    .like_caption.six.columns.mobile-four
      - if like.web_url
        = link_to "View on instagram", like.web_url
  -if current_user?(like.user)
    .row.collapse
      = form_for(like, url:user_like_path(like.user, like), remote:true) do |f|
        .ten.columns= f.text_field :tag_list, id: "like_tag_list_#{like.id.to_s}", class: "tag_list_input", placeholder: "tag it"
        .two.columns= f.submit "Submit", class: "button expand postfix"
