.six.columns.centered
  .centered.instagram
    = link_to like.standard_res_image, target:"_blank" do
      = image_tag(like.standard_res_image, class:"like_image")
  .row
    .posted_by_caption.six.columns.mobile-four
      Posted by:
      = like.username
    .like_caption.six.columns.mobile-four
      - if like.web_url
        = link_to "View on instagram", like.web_url
  -if current_user?(like.user)
    .row.collapse
      = form_for(like, url:user_like_path(like.user, like)) do |f|
        .ten.columns= f.text_field :tag_list, placeholder: "tag it"
        .two.columns= f.submit "Submit", class: "button expand postfix"