!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "Like List"
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %meta{content: content_for?(:description) ? yield(:description) : "Like List", name: "description"}
    %link{:rel =>'apple-touch-icon-precomposed', :href => asset_path('apple-touch-icon-precomposed-57x57.png')}
    %link{:rel =>'apple-touch-icon-precomposed', :href => asset_path('apple-touch-icon-precomposed-72x72.png'), :sizes => '72x72'}
    %link{:rel =>'apple-touch-icon-precomposed', :href => asset_path('apple-touch-icon-precomposed-114x114.png'), :sizes => '114x114'}
    %link{:rel =>'apple-touch-icon-precomposed', :href => asset_path('apple-touch-icon-precomposed-144x144.png'), :sizes => '144x144'}
    %link{:rel => 'canonical', :href => 'http://likelist.me'}
    = favicon_link_tag "/favicon.png", type: "image/png"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    - if Rails.env.production?
      = render 'layouts/analytics'
    = csrf_meta_tags
    = yield(:head)
  %body
    .container
      %header
        = render 'layouts/navigation'
        = render 'layouts/messages'
      .centered
        = yield
      %footer
